<!DOCTYPE html>
<html ng-app="cadastro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Desafio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity=" sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>

        .usuario-conteudo {
            background-color: #EEE;
            padding: 20px 20px 10px 20px;
            margin-top: 30px;
        }

    </style>
</head>

<body>

<div class="container" >
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="usuario-conteudo" ng-controller="UsuarioController">
                <h1>Cadastro de Fornecedor</h1>
                <hr>
                <form name="formulario" ng-submit="postUser()">
                    <div class="form-group">
                        <label for="id" >Id*</label>
                        <input type="number" class="form-control" id="id" maxlength="5" required ng-model="usuario.id">
                    </div>    

                    <div class="form-group">
                        <label for="nome">Nome*</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome do fornecedor"
                               maxlength="100" required ng-model="usuario.nome">
                    </div>  

                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" class="form-control" id="email" placeholder="Email do fornecedor"
                               maxlength="100" required ng-model="usuario.email">
                    </div>  

                    <div class="form-group">
                        <label for="comentario">Comentario*</label>
                        <input type="text" class="form-control" id="comentario" placeholder="Comentario"
                               maxlength="100"  style="height: 150px" required ng-model="usuario.comment">
                    </div>  

                    <div class="form-group">
                        <label for="cnpj">CNPJ*</label>
                        <input type="number" class="form-control" id="cnpj" placeholder="CNPJ do fornecedor"
                               maxlength="11" required ng-model="usuario.cnpj">
                    </div>  
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                     <a class="btn btn-danger" href="index.html" >Voltar</a>
                </form>
                <hr>               
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>


</body>

</html>
